<div fxLayout="column" class="layout-wrapper">

  <mat-toolbar color="primary">
    <mat-toolbar-row>
      <mat-icon>local_dining</mat-icon>
      <span>{{ title }}</span>
    </mat-toolbar-row>
  </mat-toolbar>

  <header color="primary">
    <h1>Reseptit arkeen ja juhlaan</h1>
    <p>Kotikokki tarjoaa Suomen laajimman valikoiman kotikeittiöissä arjessa ja juhlassa hyväksi havaittuja reseptejä. Katso reseptit, jaa omasi ja nauti onnistumisista!</p>
  </header>

  <div *ngFor="let recipe of recipes | async">
    {{ recipe.title }}
  </div>
</div>
